# Next.js
.next/
out/ 

# Node
node_modules/

# Logs
npm-debug.log*  
yarn-debug.log* 
yarn-error.log* 
pnpm-debug.log* 

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Testing
coverage/

#Env
.env
.env.local
.env.*.local

# Other
*.tsbuildinfo